In [2]:
# !pip install scikit-learn==1.2.2

Requirement already satisfied: scikit-learn==1.2.2 in c:\users\yadav\appdata\local\programs\python\python311\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\yadav\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn==1.2.2) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\yadav\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn==1.2.2) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\yadav\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn==1.2.2) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yadav\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn==1.2.2) (3.2.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import sys
print(sys.version)
print(sys.executable)

3.11.1 (tags/v3.11.1:a7a450f, Dec  6 2022, 19:58:39) [MSC v.1934 64 bit (AMD64)]
c:\Users\yadav\AppData\Local\Programs\Python\Python311\python.exe

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [5]:
print(f'pandas version: {pd.__version__}')
print(f'scikit-learn version: {sklearn.__version__}')

pandas version: 2.0.3
scikit-learn version: 1.2.2

In [30]:
df = pd.read_csv('heart.csv')

In [40]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [39]:
np.unique(df['thal'])

array([0, 1, 2, 3], dtype=int64)

In [9]:
df = pd.get_dummies(df, columns=['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal'])
standardScaler = StandardScaler()
cols_to_scale = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
df[cols_to_scale] = standardScaler.fit_transform(df[cols_to_scale])

In [10]:
cols_to_convert = ['sex_0', 'sex_1', 'cp_0', 'cp_1', 'cp_2', 'cp_3', 'fbs_0', 'fbs_1', 'restecg_0',
       'restecg_1', 'restecg_2', 'exang_0', 'exang_1', 'slope_0', 'slope_1',
       'slope_2', 'ca_0', 'ca_1', 'ca_2', 'ca_3', 'ca_4', 'thal_0', 'thal_1',
       'thal_2', 'thal_3']

df[cols_to_convert] = df[cols_to_convert].astype(int)

In [11]:
df

,age,trestbps,chol,thalach,oldpeak,target,sex_0,sex_1,cp_0,cp_1,...,slope_2,ca_0,ca_1,ca_2,ca_3,ca_4,thal_0,thal_1,thal_2,thal_3
0,0.952197,0.763956,-0.256334,0.015443,1.087338,1,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,-1.915313,-0.092738,0.072199,1.633471,2.122573,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,-1.474158,-0.092738,-0.816773,0.977514,0.310912,1,1,0,0,1,...,1,1,0,0,0,0,0,0,1,0
3,0.180175,-0.663867,-0.198357,1.239897,-0.206705,1,0,1,0,1,...,1,1,0,0,0,0,0,0,1,0
4,0.290464,-0.663867,2.082050,0.583939,-0.379244,1,1,0,1,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.290464,0.478391,-0.101730,-1.165281,-0.724323,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
299,-1.033002,-1.234996,0.342756,-0.771706,0.138373,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
300,1.503641,0.706843,-1.029353,-0.378132,2.036303,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
301,0.290464,-0.092738,-2.227533,-1.515125,0.138373,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,1
302,0.290464,-0.092738,-0.198357,1.064975,-0.896862,0,1,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [12]:
y = df['target']
X = df.drop('target', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
# KNN classifier - accuracy = 90%
knn_scores = []
for k in range(1, 40):
    knn_classifier = KNeighborsClassifier(n_neighbors = k)
    knn_classifier.fit(X_train, y_train)
    knn_scores.append(knn_classifier.score(X_test, y_test))
print(np.argmax(knn_scores)+1)

8

In [14]:
knn_classifier = KNeighborsClassifier(n_neighbors = 13)
knn_classifier.fit(X_train, y_train)
y_pred = knn_classifier.predict(X_test)

# check accuracy
accuracy = np.sum(y_pred == y_test)/len(y_test)
print(accuracy)

0.9016393442622951

In [47]:
# logistic regression - accuracy 75%

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lreg_model = LogisticRegression()
lreg_model.fit(X_train, y_train)
y_pred = lreg_model.predict(X_test)
lreg_score = accuracy_score(y_test, y_pred)
print(lreg_score)

0.7532467532467533

In [49]:
# using decision trees - accuracy 74%
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train, y_train)
y_pred_classifier = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred_classifier)
print(score)

0.7467532467532467

In [17]:
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [18]:
diabetes_df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [19]:
# normalizing the data using standard scaler
standardScaler = StandardScaler()
cols_to_scale = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']
diabetes_df[cols_to_scale] = standardScaler.fit_transform(diabetes_df[cols_to_scale])

In [20]:
# checking for null values
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [21]:
# creating test and train datasets
y = diabetes_df['Outcome']
X = diabetes_df.drop(['Outcome'], axis =1 )
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [22]:
# KNN classifier
knn_scores = []
for k in range(1, 40):
    knn_classifier = KNeighborsClassifier(n_neighbors = k)
    knn_classifier.fit(X_train, y_train)
    knn_scores.append(knn_classifier.score(X_test, y_test))
print(np.argmax(knn_scores)+1)

37

In [41]:
knn_classifier = KNeighborsClassifier(n_neighbors = 37)
knn_classifier.fit(X_train, y_train)
y_pred = knn_classifier.predict(X_test)

# check accuracy
accuracy = np.sum(y_pred == y_test)/len(y_test)
print(accuracy)

0.7727272727272727

In [48]:
# using decision trees - accuracy 73%
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train, y_train)
y_pred_classifier = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred_classifier)
print(score)

0.7337662337662337

In [46]:
# logistic regression - accuracy 75%

from sklearn.linear_model import LogisticRegression

lreg_model = LogisticRegression()
lreg_model.fit(X_train, y_train)
y_pred = lreg_model.predict(X_test)
lreg_score = accuracy_score(y_test, y_pred)
print(lreg_score)

0.7532467532467533